.lvl-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}
.lvl-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 6px;
  transition:
    text-shadow 0.3s ease,
    color 0.3s ease;
}

.lvl-input {
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  border: 2px solid #333;
  border-radius: 6px;
}
