.stat-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.stat-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}
.stat-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 6px;
  cursor: pointer;
  transition:
    text-shadow 0.3s ease,
    color 0.3s ease;
}

.stat-label:hover {
  color: #f3f025;
  text-shadow:
    0 0 8px #f3f025,
    0 0 16px #f3f025;
}

.stat-input {
  width: 60px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid #333;
  border-radius: 6px;
}
